<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://www.transparentpng.com/thumb/tomato/dpqY4o-download-tomato.png">
    <title>MENU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
<h3>MENU</h3>
<div class="button-tag">
    <a href="/loginn">Log In</a> 
    </div>
    <h2>Choose a District</h2>
    <br><br><br><br><br><br>

    <a href="/ernakulam">Ernakulam</a>  
    <br><br><br><br>
    <a href="/palakkad">Palakkad</a>
    <br><br><br><br>
    <a href="/thrissur">Thrissur</a>

   
      
</body>
</html>